@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,900&display=swap");
html {
  min-height: 100%;
  background-image: url(./img/islam-learn-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
* {
  margin: 0;
  padding: 0;
}
a {
  all: unset;
}
/* MAIN ----*/
.main {
  margin-left: 8rem;
  margin-top: 4rem;
  text-shadow: 0 3px 48px black;
}
.main-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 7rem;
}
.main-title-span {
  color: rgba(255, 255, 255, 0.27);
}
.main-paragraph {
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.4;
}

/* SECONDARY ----*/
.secondary {
  color: #fe7f00;
  font-family: Roboto, sans-serif, "Merriweather", serif;
  text-shadow: 0 3px 48px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.secondary-h3 {
  font-weight: bold;
  font-size: 2rem;
}

.secondary-countdown {
  font-size: 10rem;
  font-weight: black;
  cursor: default;
}
